:root {
    --neonBlue: #55DADB;
    --sunburstYellow: #F5BB02;
    --neonGreen: #6AAF88;
    --strawberry: #FC786E;
    --navyBlue: #2F3E46;
}

#sign-up-in-outer-container {
    height: calc(100vh - 35px);
    width: 100vw;
    background-image: url("../../Assets/signinupbackground.webp");
    background-repeat: no-repeat;
    background-size: cover;   
    overflow: hidden;  
}

#sign-up-in-close button a {
    /* Remove default link styling */
    text-decoration: none;
    color: inherit;
    outline: none;
}

#welcome-message-container {
    padding-top: 6vh;
}

#welcome-message-container, #welcome-title {
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#welcome-subheading {
    width: 240px;
    padding-left: 45px;
    text-decoration: underline;
    text-decoration-color: var(--neonGreen);
    text-decoration-thickness: 0.4em;
    text-decoration-skip-ink: none;
}

#sign-up-in-container {
    height: fit-content;
    width: 100vw;
    border-radius: 10px 10px 0 0;
    background-color: var(--navyBlue);
    padding: 5px 0 0 0;
    /* Move container to the bottom of the screen on mobile */
    bottom: 35px;
    position: fixed;
}

#sign-up-in-button-container {
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-form, .sign-form input, .sign-form div {
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-form {
    color: white;
}

#sign-up-in-button-container button, .sign-form input, label, .sign-form button, h1 {
    margin: 5px 5px;
    padding: 5px;
}

#sign-up-in-button-container button, .sign-form input, .sign-form button {
    border-radius: 10px;
    border: none;
}

#sign-up-in-button-container button, .submit-button button {
    background-color: var(--neonGreen);
}

/* Override default MUI button colours - stops submit button turning blue after click */
#sign-up-in-button-container button:active,
.submit-button button:active,
#sign-up-in-button-container button:focus,
.submit-button button:focus,
#sign-up-in-button-container button:hover,
.submit-button button:hover {
    background-color: var(--neonGreen);
}

button {
    cursor: pointer;
}

input {
    width: 80vw;
}

/* Desktop media queries*/
@media only screen and (min-width: 992px)
{
    /* Hide the welcome message on desktop */
    #welcome-message-container {
        display: none;
    }
    /* Hide the X close button on desktop */
    #sign-up-in-close {
        display: none;
    }

    #sign-up-in-components-container {
        /* Center vertically and horizontally within the viewport */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #sign-up-in-container {
        width: 40vw;
        position: static;
        border-radius: 10px;
        padding: 15px 0 15px 0;
    }
    
    input {
        width: 30vw;
    }
}