#sign-up-in-outer-container {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/Assets/signinupbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#sign-up-in-close {
    padding: 5px;
    /* Flexbox properties */
    display: flex;
    justify-content: flex-end;
}

#sign-up-in-close button {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #2F3E46;
    color: white;
    border: none;
}

#sign-up-in-close button a {
    /* Remove default link styling */
    text-decoration: none;
    color: inherit;
    outline: none;
}

#welcome-message-container {
    padding-top: 6vh;
}

#welcome-message-container, #welcome-title {
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#welcome-subheading {
    width: 240px;
    padding-left: 45px;
    text-decoration: underline;
    text-decoration-color: #6AAF88;
    text-decoration-thickness: 0.4em;
    text-decoration-skip-ink: none;
}

#sign-up-in-container {
    height: fit-content;
    width: 100vw;
    border-radius: 10px 10px 0 0;
    background-color: #2F3E46;
    padding: 5px;

    /* Move container to the bottom of the screen on mobile */
    position: fixed;
    bottom: 0;
}

#sign-up-in-button-container {
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-form, .sign-form input, .sign-form div {
    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-form {
    color: white;
}

#sign-up-in-button-container button, .sign-form input, label, .sign-form button, h1 {
    margin: 5px 5px;
    padding: 5px;
}

#sign-up-in-button-container button, .sign-form input, .sign-form button {
    border-radius: 10px;
    border: none;
}

button {
    cursor: pointer;
}

input {
    width: 80vw;
}