:root {
    --neonBlue: #55DADB;
    --sunburstYellow: #F5BB02;
    --neonGreen: #6AAF88;
    --strawberry: #FC786E;
    --navyBlue: #2F3E46;
    --offWhite: #D9D9D9;
}

#card-outer-container {
    width: 350px;
    height: fit-content;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.55);
    margin: 5px 10px 10px 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

#card-display-inner-container:nth-of-type(3n+1) #card-outer-container {
    background-color: var(--strawberry);
}

#card-display-inner-container:nth-of-type(3n+2) #card-outer-container {
    background-color: var(--neonBlue);
}

#card-display-inner-container:nth-of-type(3n+3) #card-outer-container {
    background-color: var(--sunburstYellow);
}

#MUInav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
}

#eyes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 22px;
    padding-bottom: 5px;
}

#eyes-container {
    display: flex;
    justify-content: center;
}

#title-container {
    justify-content: center; 
    display: flex;
    text-align: center;
}

#card-title {
    background-color: var(--offWhite);
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    width: 300px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
    justify-content: center;
    display: flex;
}

#card-button-container {
    display: flex;
    justify-content: space-around;
}

#details-button {
    background-color: var(--navyBlue);
    color: var(--offWhite);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 12px;
    font-weight: semi-bold;
    width: 90px;
    height: 30px;
}

#details-button:hover {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.55);
    transition: 0.2s;
}

#details-button:active {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
    transition: 0.1s;
}

#like-button {
    background-color: var(--navyBlue);
    color: var(--offWhite);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
}

#like-button:hover {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.55);
    transition: 0.2s;
}

#like-button:active {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
    transition: 0.1s;
}

#report-button {
    background-color: var(--navyBlue);
    color: var(--offWhite);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
}

#report-button:hover {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.55);
    transition: 0.2s;
}

#report-button:active {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
    transition: 0.1s;
}

#collapsed-card {
    overflow: hidden;
    box-shadow: 0px -20px 25px -20px rgba(0,0,0,0.45), 0px -20px 20px -255px rgba(0,0,0,0.45);
}

/* Added flex-direction: column; to make children stack vertically */
#collapsed-card-container {
    background-color: var(--offWhite);
    width: 350px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-content-container {
    font-size: 12px;
    width: 350px;
    height: auto;
    margin-left: 1.5px;
    margin-right: 1.5px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-break: break-word;
}

.card-content-space {
    padding: 2px 20px 2px 5px;
}

.card-content-row {
    display: flex;
    flex-direction: row;
}

#card-content-row-creator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

/* Reduce space MUI checkboxes take up */
.MuiFormControlLabel-root {
    margin: 0;
    padding: 0;
    height: 25px;
}

/* Force checkbox labels to not be greyed out */
.Mui-disabled {
    color: black!important;
}
/* Force checkbexes to be neonGreen */
.MuiCheckbox-colorPrimary {
    color: var(--neonGreen)!important;
}