:root {
    --neonBlue: #55DADB;
    --sunburstYellow: #F5BB02;
    --neonGreen: #6AAF88;
    --strawberry: #FC786E;
    --navyBlue: #2F3E46;
    --offWhite: #D9D9D9;
}


#create-card-title {
    color: var(--offWhite);
    text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#create-card-form-container {
    color: var(--offWhite);
    width : 80%;
    max-width: 500px;
    margin: 0 auto;
    
}
#additional-information, #recommended-equipment{
    padding: 12px;
}

#post-title, #location-address, #location-postcode, #recommended-equipment, #additional-information, #time-range, #disposal-select{
    border-radius: 5px;
    background-color: var(--offWhite);
    border: none;
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
    /* font-weight: bold; */
}

#accessibility-checkboxes {

    flex-direction: row;
    justify-content: space-between;
    margin: 0 ;
}

.checkbox{
    margin: 0;
    padding: 0;
}



#create-card-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#discard-button {
    background-color: var(--strawberry);
}

#create-button {
    background-color: var(--neonGreen);
}

#discard-button, #create-button {
    color: var(--navyBlue);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.55);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    align-self: center;
}
#link {
    color: var(--navyBlue);
    font-weight: 600;
}

#discard-button:hover, #create-button:hover {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.55);
    transition: 0.2s;
}

.custom-date-picker {
    /* Add your custom styles here */
    border-radius: 5px;
    background-color: var(--offWhite);
    border: none;
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    color: var(--navyBlue);
  }
  

#discard-button:active, #create-button:active {
    background-color: var(--offWhite);
    color: var(--navyBlue);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
    transform: translate(2px, 2px);
    transition: 0.2s;
}

.date-picker{
    border-radius: 5px;
    background-color: var(--offWhite);
    border: none;
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    color: var(--navyBlue);
}

