:root {
    --neonBlue: #55DADB;
    --sunburstYellow: #F5BB02;
    --neonGreen: #6AAF88;
    --strawberry: #FC786E;
    --navyBlue: #2F3E46;
}

body {
    background-color: var(--navyBlue);
}

#card-display-outer-container {
    height: 100vh;
}

/* Desktop media queries*/
@media only screen and (min-width: 992px)
{
    #card-display-outer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 0;
        padding: 0 400px 0 400px;
    }

}