:root {
    --neonBlue: #55DADB;
    --sunburstYellow: #F5BB02;
    --neonGreen: #6AAF88;
    --strawberry: #FC786E;
    --navyBlue: #2F3E46;
}

body {
    background-color: var(--navyBlue);
}

#card-display-outer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Desktop media queries*/
@media only screen and (min-width: 992px)
{
    #card-display-outer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        column-gap: 0;
        padding: 0 400px 0 400px;
    }
}