:root {
  --neonBlue: #55dadb;
  --sunburstYellow: #f5bb02;
  --neonGreen: #6aaf88;
  --strawberry: #fc786e;
  --navyBlue: #2f3e46;
  --neonGreenTransparent60: #6aaf8860;
}

#landing-page-outer-container {
  width: 100vw;
  background-image: url("../../Assets/mobBG.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(78vh - 35px);
}

#landing-page-outer-container button {
  background-color: var(--neonGreen);
  color: white;
  width: fit-content;
  margin-bottom: 5px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

#landing-page-outer-container button a {
  text-decoration: none;
  outline: none;
  color: inherit;
  font-family: 'Rubik', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
}

#landing-page-outer-container button:hover {
  background-color: var(--neonGreenTransparent60);
  transform: scale(1.05);
}

#landing-page-banner {
  background-color: var(--navyBlue);
  color: white;
  height: 156px;
  position: fixed;
  bottom: 5vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 13px 0 13px;
  backdrop-filter: blur(2px);
}

#landing-page-banner h2 {
  text-decoration: underline;
  text-decoration-color: var(--neonGreen);
  text-decoration-thickness: 0.2em;
  text-decoration-skip-ink: none;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
  padding-bottom: 5vh;
}

#title {
  font-size: 75px;
  font-weight: 700;
  color: white;
  margin: 0 0 0 7.5vw;
  padding-top: 2.5vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
}

#landing-page-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 75vh;
  align-items: flex-start;
  margin-left: 7.5vw;
  position: fixed;
  bottom: 20vh;
}

/* Desktop media queries*/
@media only screen and (min-width: 992px)
{
  #landing-page-outer-container {
    background-image: url("../../Assets/deskBG.svg");
    min-height: calc(100vh - 35px);
  }

  #landing-page-button-container {
    bottom: 15vh;
    gap: 20px;
  }

  #landing-page-banner {
    bottom: 4vh;
    height: 100px;
  }

  #landing-page-banner h2 {
    font-size: 52px;
    padding-bottom: 10vh;
  }

  #landing-page-outer-container button a {
    font-size: 30px;
  }
}