/* Strip off all default browser margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Rubik:wght@400;700&display=swap');


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Rubik', sans-serif;
}