:root {
  --neonBlue: #55DADB;
  --sunburstYellow: #F5BB02;
  --neonGreen: #6AAF88;
  --strawberry: #FC786E;
  --navyBlue: #2F3E46;
  --transparentWhite90: #ffffff90
}

#navbar-outer-container {
  flex-grow: 1px;
}

#navbar-header-container {
  background-color: var(--neonGreen);
}

#navbar-search-container {
  background-color: var(--transparentWhite90);
  border-radius: 10px;
  position: relative;
  margin: 0 5px 0 5px;
}
#navbar-search-container:hover {
  background-color: var(--transparentWhite90);
}

#search-icon {
  margin-right: 0;
  background-color: var(--navyBlue);
  border-radius: 10px;
  padding: 5px;
}
#search-icon:hover, #search-icon:active, #search-icon:focus {
  background-color: var(--sunburstYellow);
}

#search-input {
  border-radius: 10px;
  color: inherit;
}

/* override MUI default to center text */
.css-yz9k0d-MuiInputBase-input {
  padding: 5px 5px 5px 10px!important;
}

#navbar-title {
  flex-grow: 1;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

#burger-icon {
  margin-right: 0;
  background-color: var(--navyBlue);
  border-radius: 10px;
  padding: 5px;
}
#burger-icon:hover, #burger-icon:active, #burger-icon:focus {
  background-color: var(--sunburstYellow);
}

#navbar-title a, #navbar-title a:visited, #dropdown-menu-susi-button a {
  color: white;
  text-decoration: none;
}

.littr {
    font-family: 'Montserrat', sans-serif;
}

#simple-menu ul {
  background-color: var(--neonGreen);
}

#simple-menu a {
  /* color: var(--navyBlue); */
}

#simple-menu a:visited {
  color: white;
}

/* override MUI default boxshadow */
.MuiPopover-paper {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.55)!important;
}

#dropdown-menu-susi-button, #dropdown-menu-signout-button {
  background-color: var(--navyBlue);
}

/* CSS GRID SETTINGS */
#dropdown-menu-signedin {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* UNCOMMENT THESE TO WORK ON THE STRETCH GOALS */
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: center;
  align-items: center;
}
/* UNCOMMENT THESE TO WORK ON THE STRETCH GOALS */
/* #dropdown-user-settings-link { grid-area: 1 / 1 / 2 / 2; } */
/* #dropdown-menu-avatar { grid-area: 1 / 2 / 2 / 3; } */
/* #dropdown-createapost-link { grid-area: 2 / 1 / 3 / 3; } */
/* #dropdown-createagroup-link { grid-area: 3 / 1 / 4 / 3; } */
/* #dropdown-menu-signout-button { grid-area: 4 / 1 / 5 / 3; } */

/* ONLY SHOW THESE ON MVP VERSION */
#dropdown-createapost-link { grid-area: 1 / 1 / 2 / 3; }
#dropdown-menu-signout-button { grid-area: 2 / 1 / 3 / 3; }


#dropdown-menu-signedin-toggle {
  display: none;
}